{% block form_scripts %}
    <script type="text/javascript">
        $( document ).ready(function() {
            console.log('esto funciona! :)');
            $('#{{ form.vars.id }}').validate();
        });
    </script>
{% endblock form_scripts %}

{{ form_start(form, { 'id': form.vars.id, 'attr': {'class': 'ui form', 'id': form.vars.id } }) }}
{% for key, input in form.iterator %}
    {% if key != '_token' and key != 'cancel' and key != 'submit' %}
        {% if input.vars.block_prefixes[1] != 'hidden'%}
            <div class="field-block">
                {{ form_label(input) }}
                {{ form_widget(input) }}
                {% if form.vars.errors is not empty %}
                    {{ dump(form.vars.errors is empty) }}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
<div class="field-block">
    {% if form.submit is defined %}{{ form_widget(form.submit) }}{% endif %}
    {% if form.cancel is defined %}{{ form_widget(form.cancel) }}{% endif %}
</div>
{{ form_end(form) }}